<!doctype html>
<html lang="en" ng-app="poiApp">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>vert.x - vert2go</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"/>
  <link rel="stylesheet" href="css/app.css">
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
  <script src="//cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.0.3/sockjs.min.js"></script>
  <script src="js/vendor/vertx-eventbus.js"></script>
  <script src="js/vendor/devoxx-workshop-js/recommendation_service-proxy.js"></script>

  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
</head>

<body ng-controller="POIListController">

<div class="navbar navbar-custom navbar-fixed-top">
  <div class="navbar-header"><a class="navbar-brand" href="#">vert2go</a></div>
  <div class="navbar-collapse collapse">
    <form class="navbar-form">
      <div class="form-group" style="display:inline;">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="query" placeholder="What are searching for?">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span> </span>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container-fluid" id="main">
  <div class="row">
    <div class="col-xs-4" id="left">

      <h2>Points of Interest</h2>
      <!-- item list -->
      <div ng-repeat="poi in pois | filter:query | orderBy:'-thumbs'">
        <div class="panel panel-default">
          <div class="panel-heading">
            <a href="#" ng-click="showInMap(poi)">{{poi.name}}</a>
          </div>
        </div>
        <span ng-repeat="tag in poi.tags">
          <span class="label label-success">{{tag}}</span>
        </span>
        <br/>
        <br/>
        <p>{{poi.description}}</p>
        <h4>Recommend:</h4>
        <a href="#" ng-click="thumbs(poi, true)"><span class="glyphicon glyphicon-thumbs-up"></span> <span class="badge">{{poi.thumbsUp}}</span></a><br />
        <a href="#" ng-click="thumbs(poi, false)"><span class="glyphicon glyphicon-thumbs-down"> </span> <span class="badge">{{poi.thumbsDown}}</span></a>
        <hr>
      </div>
    </div>

    <div class="col-xs-8" id="map"></div>
  </div>
</div>

</body>
</html>
